.whyILoveYou {
  width: 90%;
  text-align: center;
  background-color: rgb(255, 192, 203);
  color: red;
  margin-left: auto;
  padding: 5px;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 100px;
  border-radius: 20px;
  border: 2px solid red;
  font-size: larger;
}

.whyILoveYou img {
  width: 80%;
  border: 1px solid red;
}

.whyILoveYou span {
  font-family: 'Roboto', sans-serif;
  /* font-weight: 100; */
}

.whyILoveYou h2 {
  font-family: 'Caveat', cursive;
}

.lastSpan {
  font-family: 'Caveat', cursive;
}
