.navbar {
  /* position: fixed; */
  color: #f8f7f7;
  background-color: #f1c3c8;
  left: 0px;
  right: 0px;
  text-align: center;
  border: 1px solid #f8f7f7;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: larger;
}

.underNavbar {
  /* background-color: #fadadd; */
  padding-top: 155px;
}

.item {
  text-decoration: none;
  color: #f8f7f7;
}

.fuckItem {
  opacity: 0;
}

.active {
  text-decoration: none;
  color: red;
}
.fuckActive {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.jmai {
  color: red;
  font-family: "Caveat", cursive;
}
